@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Scrollbar oscuro para el panel de bitácora */
  ::-webkit-scrollbar        { width: 4px; }
  ::-webkit-scrollbar-track  { background: transparent; }
  ::-webkit-scrollbar-thumb  { background: #334155; border-radius: 2px; }
  ::-webkit-scrollbar-thumb:hover { background: #475569; }

  /* Evitar selección de texto al hacer clic rápido en el tablero */
  button { -webkit-user-select: none; user-select: none; }
}
